{% extends 'base.html.twig' %}

{% block title %}Ship types{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    
                    <th scope="col" >IMO</th>
                    <th scope="col" >Nom</th>
                    <th scope="col" >MMSI</th>
                    <th scope="col" >Type</th>
                    <th scope="col" >Destination</th>
                    <th scope="col" >ETA</th>
                    <th scope="col" >Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for navire in navire %}
                    <tr class="table-primary">
                        <td>{{ navire.imo }}</td>
                        <td>{{ navire.nom }}</td>
                        <td>{{ navire.mmsi }}</td>
                        <td>{{ navire.aisshiptype.aisshiptype }}</td>
                        <td>{{ navire.getDestination().nom }}</td>
                        <td>{{ navire.getEta().format("d-m-Y H:i:s") }}</td>
                        <td><a href="{{ path('navire_editer',{id: navire.id}) }}" type="button" class="btn btn-primary">Editer</a></td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
